<section class="search-section">
  <form class="search-form">
    <div class="search__bars">
      <input type="text" placeholder="Von" class="search__bars__1" />
      <input type="text" placeholder="nach" class="search__bars__2" />
      <button type="submit" class="btn btn--primary">Suchen</button>
    </div>

    <div class="search__information">
      <div class="search__information__item">
        <div class="search__information__item__text">
          <img
            src="../assets/images/icons8-calendar-96.png"
            alt="calendericon"
          />
          <p>Heute, ab 20:39</p>
          <p>Hinfahrt ändern</p>
        </div>
        <img
          src="../assets/images/icons8-chevron-right-96.png"
          alt="next-icon"
        />
      </div>
      <div class="search__information__item">
        <div class="search__information__item__text">
          <img
            src="../assets/images/icons8-calendar-96.png"
            alt="calendericon"
          />
          <p>Rückfahrt</p>
          <p>Hinzufügen</p>
        </div>
        <img
          src="../assets/images/icons8-chevron-right-96.png"
          alt="next-icon"
        />
      </div>
      <div class="search__information__item">
        <div class="search__information__item__text">
          <img src="../assets/images/icons8-user-96.png" alt="calendericon" />
          <p>Reisende, Fahrräder, BahnCards</p>
          <p>1 Person (27‑64 Jahre), keine Ermäßigung</p>
        </div>
        <img
          src="../assets/images/icons8-chevron-right-96.png"
          alt="next-icon"
        />
      </div>
    </div>

    <div class="search__classes">
      <div class="search__classes__item">1 Klasse</div>
      <div class="search__classes__item">2 Klasse</div>
    </div>

    <button type="submit" class="btn btn--primary search__button">
      Suchen
    </button>
  </form>
</section>
