<div class="container-compress">
  <section class="navbar-section">
    <ul class="navbar__topItems">
      <li class="navbar__topItems__self item1">Privatreisen</li>
      <li class="navbar__topItems__self item2">Geschäftsreisen</li>
      <li class="navbar__topItems__self item3">Hilfe & Kontakt</li>
      <li class="navbar__topItems__self item4">Deutsch</li>
    </ul>
    <nav class="navbar">
      <div class="navbar__logo">
        <img src="../assets/images/db-logo.svg" alt="Deutsche Bahn logo" />
      </div>
      <ul class="navbar__mainItems">
        <li class="navbar__mainItems__self">Tickets & Angebote</li>
        <li class="navbar__mainItems__self">Infos & Leistungen</li>
        <li class="navbar__mainItems__self">Zugflotte</li>
        <li class="navbar__mainItems__self">Meine Reisen</li>
      </ul>
      <div class="navbar__search__menu">
        <img
          src="../assets/images/download.svg"
          alt="search icon"
          class="search"
        />
        <img
          src="../assets/images/download (1).svg"
          alt="Hamburger menu"
          class="menu"
        />
      </div>
    </nav>
  </section>
</div>
