/* --------------------------- Reset --------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@media screen and (min-width: 960px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

/* -------------------------- Root --------------------------- */

:root {
  --color-primary: #ec0016;
  --color-set-001: rgb(215, 220, 225);
  --color-set-002: rgb(240, 243, 245);
  --color-set-003: rgb(40, 45, 55);
}

/* ------------------------ Typography ---------------------- */

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
p {
  font-size: 0.875rem;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  h2,
  h3 {
    font-size: 1.5rem;
  }
}

/* --------------------------- Btn ---------------------------- */

.btn {
  padding: 0.7rem 2rem;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--secondary {
  background-color: white;
  border: 0.1rem rgb(137, 137, 137) solid;
  color: var(--color-set-003);
}

/* --------------------- Hero Section ------------------------- */

.hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.hero__img {
  width: 100%;
}

.hero__content {
  background-color: var(--color-set-001);
  padding: 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.hero__content p {
  display: none;
}

.hero__content__btn {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .hero__content__btn {
    padding: 1rem 1.5rem;
    max-width: 14rem;
    align-self: flex-end;
  }

  .hero__content {
    background-color: var(--color-set-001);
    padding: 2rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 960px) {
  .hero {
    max-width: 1280px;
    height: 470px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .hero__img {
    object-fit: cover;
    object-position: left center;
    max-width: 1280px;
    width: 100%;
    height: 470px;
  }

  .hero__content {
    padding-top: 6.5rem;
    width: 334px;
    justify-content: center;
    align-items: start;
  }

  .hero__content__title {
    margin-top: 2rem;
  }
  .hero__content p {
    margin: 1rem 0rem 2rem 0rem;
    display: block;
    line-height: 1.3rem;
  }

  .hero__content__btn {
    justify-self: start;
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}

/* -------------------------------------- navbar ---------------------------------------- */

.navbar-section {
  box-shadow: 0px 1px 30px rgba(103, 103, 103, 0.286);
}

.navbar img {
  height: 29px;
}

.navbar__mainItems,
.navbar__topItems {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 56px;
}

.navbar__search__menu .menu {
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 0.1rem var(--color-set-001) solid;
}

@media screen and (min-width: 767px) {
  .navbar img {
    height: 30px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2.2rem;
    height: 56px;
  }
}

@media screen and (min-width: 960px) {
  .container-compress {
    max-width: 1180px;
    margin: 0 auto;
  }

  .navbar-section {
    position: absolute;
    top: 0;
    min-width: 900px;
    width: 100%;
    max-width: 1180px;
    margin: 0rem auto;
    background-color: white;
  }

  .navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 42.5px 1fr auto;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    align-content: center;
  }

  .navbar__search__menu .menu {
    display: none;
  }

  .navbar__mainItems {
    display: flex;
    margin-left: 2rem;
  }

  .navbar__mainItems__self {
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .navbar__topItems {
    display: block;
    background-color: var(--color-set-002);
    display: flex;
    justify-content: end;
    padding-right: 30px;
  }

  .navbar__topItems__self {
    padding: 1rem 1rem;
    font-size: 0.9rem;
  }

  .navbar__topItems__self.item1:hover,
  .navbar__topItems__self.item2:hover,
  .navbar__topItems__self.item3:hover,
  .navbar__topItems__self.item4:hover {
    background-color: white;
    cursor: pointer;
    text-decoration-line: underline;
  }

  .navbar__mainItems__self:hover {
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    cursor: pointer;
  }
}

/* ------------------------------------ Form --------------------------------------------- */

/* temp */

.search-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.search__information img {
  width: 15px;
  height: 15px;
}

.search__bars {
  display: flex;
  flex-direction: column;
}

.search__bars button {
  display: none;
}

.search__bars input {
  background-color: var(--color-set-002);
  font-size: 1.2rem;
  padding: 0.7rem;
  border: 1px black;
  margin-bottom: 0.3rem;
}

.search__bars input:focus {
  border: 1.5px solid var(--color-primary);
  outline: none;
}

.search__information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-set-001);
}

.search__information__item__text {
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-rows: auto auto;
}

.search__information__item__text img {
  grid-row: 1/-1;
}

.search__information__item__text :nth-child(2) {
  font-weight: bold;
}

.search__classes {
  align-self: center;
  display: flex;
  background-color: var(--color-set-002);
  border-radius: 20px;
  margin-bottom: 0.8rem;
}

.search__classes__item {
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--color-set-003);
}

.search__classes__item:hover {
  background-color: var(--color-set-003);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.search-form button {
  border: 1px;
  width: 100%;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .search__information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0.3rem;
  }

  .search__information div:last-child {
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 960px) {
  .search-section {
    margin: 0 auto;
    max-width: 1136px;
  }

  .search-form {
    position: absolute;
    top: 26rem;
  }

  .search__button {
    display: none;
  }

  .search-form {
    display: grid;
    background-color: white;
    padding: 1.3rem;
    grid-template-columns: 1fr 200px;
    box-shadow: 0px 1px 30px rgba(103, 103, 103, 0.286);
    min-width: 200px;
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
  }

  .search__bars button {
    padding: 0rem;
    width: 127px;
    display: block;
    height: 58px;
  }

  .search__bars input {
    margin: 0rem 1rem 0rem 0rem;
    height: 58px;
  }

  .search__bars {
    display: grid;
    grid-template-columns: 1fr 1fr 127px;
    justify-content: space-between;
    grid-column: 1/-1;
  }

  .search__information {
    display: flex;
    justify-content: start;
  }

  .search__information__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    padding: 1rem 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px;
    margin-right: 2rem;
  }

  .search__information__item__text {
    padding-right: 1rem;
  }

  .search__classes {
    justify-content: center;
    width: 170px;
  }
}
